.login-form {
    padding: 80px 16px 16px;
}

.login-form__error {
    text-align: center;
    margin: 8px;
}

.login-form__field {
    text-align: center;
}

.login-form__submit {
    display: block;
    width: 120px;
    margin: 16px auto;
    padding: 8px 0;
    border: 1px solid #86ff9c;
    border-radius: 10px;
    font-size: 1rem;
    color: rgb(104, 154, 122);
    background-color: rgb(213, 255, 217);
    text-align: center;
}